<body id="admin_landing">
<div class="content_box">
<h1> Welcome to Your Admin Portal </h1>
<hr>
<p> lorem random lorem lorem random lorem lorem random lorem lorem random lorem lorem random lorem </p>
<p> lorem random lorem lorem random lorem lorem random lorem lorem random lorem lorem random lorem </p>
<p> lorem random lorem lorem random lorem lorem random lorem lorem random lorem lorem random lorem </p>
<p> lorem random lorem lorem random lorem lorem random lorem lorem random lorem lorem random lorem </p>
<p> lorem random lorem lorem random lorem lorem random lorem lorem random lorem lorem random lorem </p>
<p> lorem random lorem lorem random lorem lorem random lorem lorem random lorem lorem random lorem </p>
<p> lorem random lorem lorem random lorem lorem random lorem lorem random lorem lorem random lorem </p>

<%= link_to("Sign Out", '/logout', method: :delete) %>
</div>
</div>
