<body id="admin_landing">
<div class="content_box">
<h1> Welcome to Your Admin Portal </h1>
<hr>
<%= image_tag("Function.png", class: "nav_logo")%>
<p> lorem random lorem lorem random lorem lorem random lorem lorem random lorem lorem random lorem </p>
<p> lorem random lorem lorem random lorem lorem random lorem lorem random lorem lorem random lorem </p>
<p> lorem random lorem lorem random lorem lorem random lorem lorem random lorem lorem random lorem </p>
<p> lorem random lorem lorem random lorem lorem random lorem lorem random lorem lorem random lorem </p>
<p> lorem random lorem lorem random lorem lorem random lorem lorem random lorem lorem random lorem </p>
<p> lorem random lorem lorem random lorem lorem random lorem lorem random lorem lorem random lorem </p>
<p> lorem random lorem lorem random lorem lorem random lorem lorem random lorem lorem random lorem </p>
<hr>
<%= link_to("Sign Out", '/logout', method: :delete) %> <br>
<%= link_to 'Delete Your Account?', @admin, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
</div>
