<%= form_for [:webpage, @image_page] do |f| %>
  <div class="field">
    <%= f.hidden_field(:webpage_id, :value => @webpage.id) %>
  </div>
  <div class="field">
    <%= f.collection_select :image_id, Image.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
