/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .webpage_header {
 	font-size: 25px;
 	font-family: helvetica;
 	color: black;
 	background-color: white;
 	text-align: center;
 }

body {
	background-color: grey;
}

.webpage_content {
	border: 5px solid teal;
	padding: 10px;
	margin-left: 300px;
	margin-right: 300px;
	margin-top: 50px;
	color: white;
	font-family: helvetica;
	text-align: center;
	background: rgba(0, 38, 98, 0.8);
}

.webpage_subheader {
	font-size: 20px;
}

.webpage_images {
	margin-right: 400px;
	margin-left: 400px;
	margin: 10px;
}

.image {
	margin-right: 400px;
	margin-left: 450px;
}