/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.home_header {
	height: 600px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: -8px;
	margin-left: -8px;
	margin-right: -8px;
	background-image: url('coffee_cheesecake.jpg');
}

.home_logo {
	width: 400px;
	margin-top: 230px;
	margin-left: 420px;

}

.home_nav {
	position: fixed;
	width: 100%;
	display: block;
	top: 0px;
	font-family: helvetica;
} 

body {
	position: relative;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background:transparent ;
}

.home_li {
    float: left;
    padding: 5px;
}

.home_li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.home_li a:hover {
    background-color: white;
    color: #1f8dd6;
}

.other_header {
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: -8px;
	margin-left: -8px;
	margin-right: -8px;
	background-image: url('coffee_cheesecake.jpg');
}

.other_logo {
	width: 300px;
	margin-top: 10%;
	margin-left: 37%;

}

.other_nav {
	position: fixed;
	width: 100%;
	display: block;
	top: 0px;
	font-family: helvetica;
} 

.other_li {
    float: left;
    padding: 5px;
}

.other_li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.other_li a:hover {
    background-color: white;
    color: #1f8dd6;
}

#webpage_body {
	background-image: url('');
}
 .webpage_header {
 	font-size: 25px;
 	font-family: helvetica;
 	color: black;
 	background-color: white;
 	text-align: center;
 }

.webpage_content {
	border: 5px solid teal;
	padding: 10px;
	margin-left: 300px;
	margin-right: 300px;
	margin-top: 50px;
	color: white;
	font-family: helvetica;
	text-align: center;
	background: rgba(0, 38, 98, 0.8);
}

.webpage_subheader {
	font-size: 20px;
}

.webpage_images {
	margin-right: 400px;
	margin-left: 400px;
	margin: 10px;
}

.image {
	margin-right: 400px;
	margin-left: 450px;
}

.nav_logo {
    width: 250px;
    box-shadow: 3px 3px 3px black;
}

.dash_icon {
	width: 60px;
	float: left;
	margin-top: 15px;
	margin-left: 10px;
}


.admin_ul {
	top: 0;
	left: 0;
	position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 350px;
    height: 100%;
    border-right: 12px solid #3E3E4B;
    background-color: #E9E8E7;
    font-family: helvetica;
}

.admin_li a {
    display: block;
    text-decoration: none;
    color: #3E3E4B;
    font-size: 19px;
    margin-left: 15px;
    margin-bottom: 5px;
    padding: 7px;
}

.admin_li a:hover {
	background-color: #3E3E4B;
	color: #E9E8E7;
	box-shadow: 5px 5px 5px #3E3E4B;
}

.admin_ul h3 {
	color: #567E80;
	margin-left: 15px;
}

.admin_ul h2 {
	color: #3E3E4B;
	margin-left: 20px;
	margin-bottom: 30px;
	margin-top: 30px;
	margin-left: 15px;
}

#content {
	position: relative;
	margin-left: 33%;
    width: 800px;
}

#admin_landing {
	background: #7989A1;
}

.content_box {
	font-family: helvetica;
	background-color: rgba(255, 255, 255, .4);
	clear: both;
	text-align: center;
}

.current_admin_box {
	top: 0;
	float: right;
	color: #3E3E4B;
	width: 150px;
	background-color: rgba(255, 255, 255, .6);
	font-family: helvetica;
	margin-bottom: 30px;
}
