/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#webpage_body {
	background-image: url('');
}
 .webpage_header {
 	font-size: 25px;
 	font-family: helvetica;
 	color: black;
 	background-color: white;
 	text-align: center;
 }

.webpage_content {
	border: 5px solid teal;
	padding: 10px;
	margin-left: 300px;
	margin-right: 300px;
	margin-top: 50px;
	color: white;
	font-family: helvetica;
	text-align: center;
	background: rgba(0, 38, 98, 0.8);
}

.webpage_subheader {
	font-size: 20px;
}

.webpage_images {
	margin-right: 400px;
	margin-left: 400px;
	margin: 10px;
}

.image {
	margin-right: 400px;
	margin-left: 450px;
}

.nav_logo {
    width: 300px;
}

.nav_logo:hover {
	box-shadow: 3px 3px 3px black;
}

ul {
	top: 0;
	left: 0;
	position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
    height: 100%;
    border-right: 8px solid #295956;
    background-color: #E9E8E7;
    font-family: helvetica;
}

li a {
    display: block;
    text-decoration: none;
    color: #3E3E4B;
    font-size: 19px;
    margin-left: 15px;
    margin-bottom: 5px;
}

li a:hover {
	background-color: #3E3E4B;
	color: #E9E8E7;
	box-shadow: 5px 5px 5px #3E3E4B;
}

ul h3 {
	color: #567E80;
	margin-left: 20px;
}

ul h2 {
	color: #3E3E4B;
	margin-left: 20px;
}

#content {
	position: relative;
	margin-left: 30%;
    width: 800px;
}

#admin_landing {
	background: #3E3E4B;
}

.content_box {
	font-family: helvetica;
	background-color: rgba(255, 255, 255, .4);
	clear: both;
	text-align: center;
}

.current_admin_box {
	top: 0;
	float: right;
	color: #3E3E4B;
	width: 150px;
	background-color: rgba(255, 255, 255, .6);
	font-family: helvetica;
	margin-bottom: 30px;
}
